/*

inside the /* Post section, before the end of the section:

Target the post class
Property: margin, Value: 0 2rem
Create a new media query of max-width: 767px
Target the post class
Property: flex-direction, Value: column
Property: margin, Value: 2rem
Target the post-content class
Property: padding-left, Value: 0
Inside the /* Comment section, before the end of the section:

Create a new media query of max-width: 767px
Target post-comments class
Property: width, Value: calc(100% - 4rem)
Property: margin, Value: 2rem
Property: padding, Value: 0
Rendering on desktop screen



Rendering on screen of max-width: 767px



Repo:

GitHub repository: alu-web_front_end
Directory: responsive_design
File: 100-article.html, 100-styles.css
*/